# dependencies
node_modules/

# production
build/
dist/

# misc
.DS_Store
.env
.env.*
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
coverage/

# editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS
Thumbs.db

# file uploads
uploads/ 